@import "../themes/variables";

.footer {
    display: block;
    height: 120px;
    padding: 30px 20px;
    background-color: $bb-whitesmoke;
    .links-row {
        display: flex;
    }

    p {
        font-size: 0.75rem;
    }
}

.fake-link {
    font-size: 0.65rem;
    color: $bb-blue;
    padding: 0px 20px;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}