@import "../themes/variables";

.navbar {

    h2 {
        font-size: 1.2rem;
    }

    .logo-image {
        margin-left: 20px;
        width: 65px;
    }

    .nav-element {
        display: flex;
        align-items: center;
    }

    background-color: $bb-blue;
    color: white;
    .top-row {
        display: flex;
        height: 75px;
        align-items: center;
        .logo {
            padding-left: 20px;
            width: 68px;
        }
    }
}