@import "./themes/variables";
@import "./components/NavBar.scss";
@import "./components/Menu.scss";
@import "./themes/btn";

@font-face {
    font-family: "Quizlet-Font-Bold";
    src: url("../assets/font/HurmeGeometricSans1\ Bold.otf") format("opentype");
}
@font-face {
    font-family: "Quizlet-Font";
    src: url("../assets/font/HurmeGeometricSans1\ SemiBold.otf") format("opentype");
    font-weight: 100;
}

body {
    margin: 0px;
    font-family: "Quizlet-Font", sans-serif;
    background-color: $q-ghostwhite;
}